In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
columns = ['DATE', 'TAG', 'POSTS']
df = pd.read_csv("QueryResults.csv" , names=columns , header = 0)

In [21]:
df.head()

                  DATE         TAG  POSTS
0  2008-07-01 00:00:00          c#      3
1  2008-08-01 00:00:00    assembly      8
2  2008-08-01 00:00:00  javascript    162
3  2008-08-01 00:00:00           c     85
4  2008-08-01 00:00:00      python    124

In [22]:
df.shape

(1991, 3)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1991 entries, 0 to 1990
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    1991 non-null   object
 1   TAG     1991 non-null   object
 2   POSTS   1991 non-null   int64
dtypes: int64(1), object(2)
memory usage: 46.8+ KB

In [25]:
df2 = df.groupby("TAG").count()

In [26]:
df2['POSTS']

TAG
assembly      144
c             144
c#            145
c++           144
delphi        144
go            129
java          144
javascript    144
perl          144
php           144
python        144
r             142
ruby          144
swift         135
Name: POSTS, dtype: int64